<ul class="navbar-nav">
    <li><NavLink href="/login" class="nav-link">Login</NavLink></li>
    <li><NavLink href="/register" class="nav-link">Register</NavLink></li>
    <li><NavLink href="/accounts" class="nav-link">Accounts</NavLink></li>
    <li><NavLink href="/transaction" class="nav-link">Transaction</NavLink></li>
</ul>